@page
@model TheWorkoutLibrary.Pages.createdWorkoutLibraryModel
@{
    ViewData["Title"] = "CreateWorkoutLibrary";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>Workouts</h1>


<table class="excerciseTable">
    <tbody>        
          
       @foreach (var item in Model.workouts)
                {
                <tr>
                    <td>
                        <img class="savedWorkoutsPicture" src="@item.ImageURL" alt="@item.ImageURL" width="600" height="400" >                        
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Notes</td>
                    <td>@item.Difficulty</td>
                    <td>
                        <button id="AddBtn" type="submit" asp-page-handler="Add" asp-route-recipeID="@item.Id">Add</button>
                    </td>
                </tr>

                }

        </tbody>
</table>