@page
@model TheWorkoutLibrary.Pages.createWorkoutModel
@{
    ViewData["Title"] = "createWorkout";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>createWorkout</h1>

<form id="createWorkoutForm" method="post" enctype="multipart/form-data">

    <h4>Create New Workout</h4>

    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="newWorkout.Name">Workout Name</label>
        <input type="text" name="name" asp-for="newWorkout.Name" />
        <span asp-validation-for="newWorkout.Name"></span>
    </div>
    <div>
        <label asp-for="newWorkout.Notes">Notes</label>
        <input type="text" name="notes" asp-for="newWorkout.Notes" />
        <span asp-validation-for="newWorkout.Notes"></span>
    </div>
    <div>
        <label>Workout Difficulty</label>
        @foreach (var level in Model.difficulties)
        {
            <input type="radio" name='difficulty' asp-for="newWorkout.Difficulty" value="@level" />@level<br />
        }
    </div>
    <div>
        <label asp-for="newWorkout.ImageURL">Upload Image URL</label>
        <input name="image" asp-for="newWorkout.ImageURL" />
        <span asp-validation-for="newWorkout.ImageURL"></span>
    </div>

    <button id="createBtn" type="submit" asp-page-handler="Create">CREATE</button>
</form>


    <div>
        <h4>Name: </h4><p>@Model.lastWorkout.Name</p>
        <h4>Notes: </h4><p>@Model.lastWorkout.Notes</p>
        <h4>Difficulty: </h4><p>@Model.lastWorkout.Difficulty</p>
    </div>
<form id="addExcerciseForm" method="post">

        <div class="workouts">
            @foreach (var excercise in Model.excercises)
            {
            <div class="addExcercises">
                <h4>Excercise: </h4><p>@excercise.Name, @excercise.Notes, @excercise.Difficulty</p>

                <label asp-for="newWorkoutExcercise.Sets">Sets </label>
                <input name="sets" asp-for="newWorkoutExcercise.Sets" />
                <span asp-validation-for="newWorkoutExcercise.Sets"></span>


                <label asp-for="newWorkoutExcercise.Reps">Reps </label>
                <input name="reps" asp-for="newWorkoutExcercise.Reps" />
                <span asp-validation-for="newWorkoutExcercise.Reps"></span>
                <button id="AddBtn" type="submit" asp-page-handler="Add" asp-route-ExcerciseId="@excercise.Id">Add</button>
            </div>
            }
        </div>                    
</form>

<div class="groupedExcercises">
    @foreach (var item in Model.workoutExcercises)
    {
        <iframe width="560" height="315" src="@item.Excercise.YoutubeURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        <h4>Name: </h4><p>@item.Excercise.Name</p>
        <h4>Workout Id: </h4><p>@item.WorkoutId</p>
        <h4>Excercise Id: </h4><p>@item.ExcerciseId</p>
        <h4>Sets: </h4><p>@item.Sets</p>
        <h4>Reps: </h4><p>@item.Reps</p>
    }
</div>

