@page
@model TheWorkoutLibrary.Pages.createdWorkoutLibraryModel
@{
    ViewData["Title"] = "CreateWorkoutLibrary";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>createdWorkoutLibrary</h1>


<table class="excerciseTable">
    <tbody>        
          
       @foreach (var item in Model.Items)
                {
                <tr>
                    <td>
                        <iframe width="560" height="315" src="@item.YoutubeURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Sets</td>
                    <td>@item.Reps</td>
                    @*<td>
                        <button id="AddBtn" type="submit" asp-page-handler="Add" asp-route-recipeID="@item.Id">Add</button>
                    </td>*@
                </tr>

                }

        </tbody>
</table>