@page "{id:int}"
@model TheWorkoutLibrary.Pages.DescriptionModel
@{
    ViewData["Title"] = "Description";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using TheWorkoutLibrary.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>Description</h1>
<div class="NewWorkoutInfo">
    <img class="savedWorkoutsPicture" src="@Model.workout.ImageURL" alt="@Model.workout.ImageURL" width="800">
    <h2>@Model.workout.Name</h2>
    <h4>@Model.workout.Difficulty</h4>
    <p>@Model.workout.Notes</p>
</div>
<div class="groupedExcercises">
    @foreach (var item in Model.workoutExcercises)
    {
        @if (item.WorkoutId == Model.workout.Id)
        {
            <div class="CreateVid">
                <iframe width="300" height="525" src="@item.Excercise.YoutubeURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="details">
                <h2>@item.Excercise.Name </h2>
                <h3>Sets</h3>
                <h3>Reps</h3>
                <h3>Rest(sec)</h3>
                <p>@item.Sets</p>
                <p>@item.Reps</p>
                <p>@item.Rest</p>
            </div>
        }
    }
    </div>

