@page
@using TheWorkoutLibrary.Data
@model TheWorkoutLibrary.Pages.browseVideosModel
@{
    ViewData["Title"] = "Browse Videos";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="Title">
    <h1>Exercises</h1>
</div>
<form class="SearchForm" method="POST">
    <div class="searchUpload">

        <div class="SearchFull">
            <div class="search"><input class="searchBox" asp-for="Search" placeholder="Search" /></div>
            <button class="searchButton" type="submit" asp-page-handler="Search">SEARCH</button>
        </div>


        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))

        {
            <button class="uploadButton" type="submit" asp-page-handler="Upload">UPLOAD</button>
        }

    </div>
</form>
<form method="POST">
    <div class="browseVideo">


        <table class="table">

            <thead>
            </thead>
            <tr>
                <td>
                    <h3>
                        Beginner
                        <div class="material-symbols-outlined1">
                            <span class="material-symbols-outlined">
                                fitness_center
                            </span>
                        </div>
                    </h3>
                </td>

                <td>
                    <h3>
                        Intermediate
                        <div class="material-symbols-outlined2">
                            <span class="material-symbols-outlined">
                                fitness_center
                            </span>
                        </div>
                    </h3>
                </td>

                <td>
                    <h3>
                        Advanced
                        <div class="material-symbols-outlined3">
                            <span class="material-symbols-outlined">
                                fitness_center
                            </span>
                        </div>
                    </h3>
                </td>

            </tr>

            <tbody>
                @foreach (var WO in Model.excercises)
                {
                    <tr>

                        @{
                            try
                            {
                                <td>
                                    <iframe class="browseVideo" width="560" height="315" src="@WO.YoutubeURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </td>

                            }
                            catch
                            {
                                <td>
                                    <img src="/Images/empty.png" alt="No Image Provided" />
                                </td>
                            }
                        }


                        <td>
                            <h2>@WO.Name</h2>

                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))

                            {
                                <div class="Edit">
                                    <span class="material-symbols-outlined">
                                        edit_note
                                    </span>
                                </div>
                            }

                            <div class="Dumbbell">
                                @if (@WO.Difficulty == "Beginner")
                                {
                                    <div class="material-symbols-outlined1">
                                        <span class="material-symbols-outlined">
                                            fitness_center
                                        </span>
                                    </div>
                                }
                                else if (@WO.Difficulty == "Intermediate")
                                {
                                    <div class="material-symbols-outlined2">
                                        <span class="material-symbols-outlined">
                                            fitness_center
                                        </span>
                                    </div>
                                }
                                else if (@WO.Difficulty == "Advanced")
                                {
                                    <div class="material-symbols-outlined3">
                                        <span class="material-symbols-outlined">
                                            fitness_center
                                        </span>
                                    </div>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="tooltip">
                                <div class="info">
                                    <span class="tooltiptext">@WO.Notes</span>
                                    <span class="material-symbols-outlined">
                                        info
                                    </span>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>






</form>

