
@page
@model TheWorkoutLibrary.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Drawing
@using Microsoft.AspNetCore.Identity
@using TheWorkoutLibrary.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="~/CSS/StyleSheet.css" />


@if (User.Identity.IsAuthenticated)
{
    <h1>Dashboard</h1>

    <div class="dgrid-container">        
        @if (User.IsInRole("Admin"))
        {
            <div class="grid-item">
                <a asp-page="/createWorkout">
                    @{
                        try
                        {

                            <img class="DashBoardImg" src="~/Images/legpump.jpeg" alt="user">

                        }
                        catch
                        {
                            <img src="~/Images/empty.png" alt="No Image Provided" />
                        }
                    }
                    <div class="dashboardHeaders">
                        <h2>Create Workout</h2>
                    </div>
                </a>
            </div>
        }
        else
        {
            <div class="grid-item">
                <a asp-page="/Workouts">
                    @{
                        try
                        {

                            <img class="DashBoardImg" src="~/Images/deadlift.jpeg" alt="user">

                        }
                        catch
                        {
                            <img src="~/Images/empty.png" alt="No Image Provided" />
                        }
                    }
                    <div class="dashboardHeaders">
                        <h2>Workouts</h2>
                    </div>
                </a>
            </div>

        }    
    <div class="grid-item">
        <a asp-page="/Calendar">
            @{
                try
                {

                    <img class="DashBoardImg" src="~/Images/cardio.jpeg" />

                }
                catch
                {
                    <img src="~/Images/empty.png" alt="No Image Provided" />
                }
            }
            <div class="dashboardHeaders">
                <h2>Calendar</h2>
            </div>
        </a>
    </div>
        @foreach (var item in Model.recentWorkouts)
        {
            <div class="grid-item">
                <a asp-page="/Description" asp-route-id="@item.Id">
                    @{
                        try
                        {

                            <img class="DashBoardImg" src="@item.ImageURL" alt="user">

                        }
                        catch
                        {
                            <img src="~/Images/empty.png" alt="No Image Provided" />
                        }
                    }
                    <div class="dashboardHeaders">
                        <h2>@item.Name</h2>
                    </div>
                </a>
            </div>
        }
        @foreach (var item in Model.oldestWorkouts)
        {
            <div class="grid-item">
                <a asp-page="/Description" asp-route-id="@item.Id">


                    @{
                        try
                        {

                            <img class="DashBoardImg" src="@item.ImageURL" alt="user">

                        }
                        catch
                        {
                            <img src="/Images/empty.png" alt="No Image Provided" />
                        }
                    }


                    <div class="dashboardHeaders">
                        <h2>@item.Name</h2>
                    </div>
                </a>

            </div>

        }
    </div>
}
else
{
    <form class="createWorkoutForm" method="post">

        <div class="welcomeMessage">
            <h2>Login</h2>
            <h2>Enter User Details</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div>
            <input class="FormInputs" type="text" asp-for="Input.Email" placeholder="Email" />
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div>
            <input class="FormInputs" type="password" asp-for="Input.Password" placeholder="Password" />
            <span asp-validation-for="Input.Password"></span>
        </div>

        <div class="ResetDiv">

            <div class="ResetBtn">
                <button class="resetID" type="reset" value="Reset">RESET</button>
            </div>

            <button class="LoginSubmitBtn" type="submit">LOGIN</button>
        </div>
        <div class="RegisterText">
            <p5>Don't have an account? <a asp-page="/Register">Register Here</a></p5>
        </div>


    </form>

}




